h1{
    font-family: 'Satisfy', cursive;
    font-size: 40px;
    font-weight : bold ;
    color: black;

 }
 h2{
     font-family: 'Russo One', sans-serif;
     font-size: 40px;
 
 }
.image {
    width: 300px;
}
.orderpage1{
    background-image: url('../images/fresh.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container1{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    
}